<!DOCTYPE HTML>
<html ng-app="bookstoreApp">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>BOOKSTORE</title>
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="resources/js/jquery-2.1.1.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="resources/js/bootstrap.js"></script>
        
        <script src="resources/js/angular.js"></script>
        <script src="resources/js/angular-route.js"></script>
         <script src="resources/js/angular-translate.js"></script>
        
        <script src="resources/js/app.js"></script>
        <script src="resources/js/app-directives.js"></script>
        <script src="resources/js/app-controllers.js"></script>
        <script src="resources/js/app-services.js"></script>

        <!-- Bootstrap -->
        <link href="resources/css/bootstrap.css" rel="stylesheet">
        <link href="resources/css/bootstrap-theme.css" rel="stylesheet">
        <link href="resources/css/main.css" rel="stylesheet">
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
    </head>
    <body >
      
   <div class="jumbotron">
 
            <div class="container text-center">
               <div class="navbar-header navbar-left" ng-controller="TranslateController" >
                    <a class="navbar-brand" ng-click="changeLang('en')" >EN</a>
                    <a class="navbar-brand"  ng-click="changeLang('sr')">SR</a>
               </div>     
             
             
            </div>
              <div class="container text-center" ng-controller="LoginController">
                <div class="navbar-header navbar-right" >

                   <form name="myForm"  ng-init="initUserLog()" >

                    <input type="text" ng-hide="userLogMessage" id="user" name="username" ng-model="userLog.username" placeholder="username"  required />

                    <input type="password" ng-hide="userLogMessage" id="pass" name="password" ng-model="userLog.password" placeholder="password" required />
                    <a class="btn btn-primary" ng-hide="userLogMessage" ng-click="login()" ng-disabled="!userLog.username && !userLog.password"> Login</a> 
                   
                  <div ng-hide="userLogMessage">{{"YOUDONTHAVEANACCOUNT"| translate}}?<a href="#/users/add">{{"SIGNUP" |translate}}!</a> </div>
                   <div ng-show="userLogMessage">{{"HELLO"|translate}}, {{userL.username}}!<a class="btn btn-link" ng-click="signOut()">{{"SIGNOUT" | translate}}!</a> </div>           
                   </form>
                </div>
             </div>      
      <div class="container  text-left">

                <h2>Danulabs {{"BOOKSTORE"|translate}}<h2>

       </div>       
    </div> 
        <div id="container" class="container" ng-view>

        </div>
      <footer class="jumbotron">
          <div class="container text-left">
            <div class="navbar-footer navbar-left" >Copyright 2013 by Danulabs
            </div>
            </div>
            <div class="container text-right">
            
            <a href="www.danulabs.com">www.danulabs.com</a>
          </div>
       </footer> 
      
    </body>
</html>