
<div class="container text-right">*{{"MANDATORYFIELD" |translate}}</div>
<div class="container">
<h3>{{"SIGNUP" |translate}}</h3></br></br>

<form class="form-horizontal" ng-init="initUser()" name="userForm">
	 <div class="form-group">
		
		<label  class="col-sm-2">{{"USERNAME" | translate}}*</label>
		<div class="col-sm-6">
            <input  class="form-control" type="text" ng-model="user.username" ng-pattern="usernamePattern" name="userUsername" ng-blur="checkUsername()" ng-focus="checkedUsername=false"  required />
        </div>
        <div class="col-sm-4"> 
            <span class="label label-danger" ng-show="userForm.userUsername.$dirty && userForm.userUsername.$error.required">{{"THISFIELDISREQUIRED" | translate}}</span>
            <span class="label label-danger" ng-show="checkedUsername">{{"THISUSERNAMEISTAKEN" | translate}}</span>
            
        </div> 
      </div>   
	 <div class="form-group">	
		<label  class="col-sm-2">{{"PASSWORD" | translate}}*</label>
		<div class="col-sm-6">
            <input  class="form-control" type="password" ng-model="user.password" name="userPassword"  ng-minlength="6" required/>
        </div>
         <div class="col-sm-4"> 
            <span class="label label-danger" ng-show="userForm.userPassword.$dirty && userForm.userPassword.$error.required">{{"THISFIELDISREQUIRED" | translate}}</span>
            <span class="label label-danger" ng-show="userForm.userPassword.$dirty && userForm.userPassword.$error.minlength">{{"WEAKPASSWORD" | translate}}</span>
        </div> 
      </div>   
	 <div class="form-group">	
		<label  class="col-sm-2">{{"REPEATPASSWORD" | translate}}*</label>
		<div class="col-sm-6">           
            <input  class="form-control" type="password" ng-model="user.repeatedPassword" name="userRepeatedPassword" ng-blur="checkPassword()" required/>
        </div>
        <div class="col-sm-4"> 
            <span class="label label-danger" ng-show="userForm.userRepeatedPassword.$dirty && userForm.userRepeatedPassword.$error.required">{{"THISFIELDISREQUIRED" | translate}}</span>
            <span class="label label-danger" ng-show="checkedPassword">{{"PASSWORDSDONTMATCH" | translate}}</span>
        </div> 
      </div> 
      
    
        
	 <div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="saveUser()" ng-disabled="!user.username || !user.password ||!user.repeatedPassword || checkedUsername || checkedPassword">{{"CONFIRM" | translate}}</button>
       <a href="#/">{{"CANCEL" | translate}}</a>
    </div>
    
	 </div>
</form>
</div>
